<% if @post.errors.any? %>
  <div class="error_explanation">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @post, local: false) do |form| %>
  <p>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </p>
  <p><%= form.submit %></p>
<% end %>
